<div class="container" (click)="onBody()">
    <div class="header">
        <div class="btnMenu" id="btnMenu" (click)="onShowMenu()">
            <img src="../assets/images/menu.svg" alt="" width="20px">
        </div>
        <div class="app">
            <!-- <div class="app-logo">
                <img src="../assets/images/logo.svg" alt="" width="40px">
            </div> -->
            <div class="app-name">BTS Annales</div>
        </div>
        <div class="search-block">
            <label for="search">
              <img src="../assets/images/magnifying-glass.svg" alt="" width="17px">
          </label>
            <input type="search" name="" id="search" placeholder="Entrer le nom d'une matière">
        </div>

        <a target="_blank" href="../assets/images/author.jpg">
            <div class="img-author">
                <img src="../assets/images/author.jpg" alt="" width="40px">
            </div>
        </a>

    </div>
    <div class="body">
        <div class="specialite-body" id="menu-content">
            <div class="specialite-header">
                <!-- <div class="app-logo-menu">
                    <img src="../assets/images/logo.svg" alt="" width="40px">
                </div> -->
                <div class="specialite-title">
                    Spécialités
                </div>
                <div id="close-menu" (click)="onHideMenu()">x</div>
            </div>
            <div class="specialite-list">
                <div class="specialite-item selected" title="{{specialite.code}}" *ngFor="let specialite of specialites; let i=index;" [class.selected]="specialite === selectedSpecialite" (click)="onSelectSpecialite(specialite)">
                    <img src="../assets/images/specialite/{{specialite.code}}.svg" alt="" width="25px">
                    <p>{{specialite.libelle}}</p>
                </div>
            </div>
        </div>
        <div class="epreuve">
            <div class="epreuve-header">
                <p>
                    Anciens sujets, <span class="epreuve-specialite-name">{{selectedSpecialite.libelle}}</span>
                </p>
                <div class="annee-box">
                    <p class="annee-title">{{selectedSession.code}}</p>
                    <button class="change-annee" (click)="onChangeAnnee()">
                      <img src="../assets/images/filter.svg" alt="" width="25px">
                      changer l'année
                    </button>
                    <div class="choice-annee" [class.none]="!showChoiceAnne" (click)="onChoiceAnnee()">
                        <form>
                            <label *ngFor="let session of sessions; let i=index;" (click)="onSelectSession(session)">
                              <input type="radio" name="annee" id="" value="{{session.code}}" [checked]="session === selectedSession"> {{session.code}}
                          </label>
                        </form>
                    </div>
                </div>
            </div>
            <div class="epreuve-body">
                <mat-tab-group mat-align-tabs="center">
                    <mat-tab label="CC">
                        <div class="first-child">
                            <h4>Semestre 1</h4>
                            <div class="grid-container">
                                <div *ngFor="let epreuve of epreuves;" [class.none]="!showEpreuve(epreuve, 1, 'cc')" ngModel>
                                    <div class="epreuve-item" title="{{epreuve.name}}" *ngIf="showEpreuve(epreuve, 1, 'cc')" ngModel>
                                        <img class="epreuve-icone" src="../assets/images/pdf.svg" alt="" width="50px">
                                        <div class="second-child">
                                            <div class="epreuve-title">{{epreuve.name}}</div>
                                            <div class="epreuve-name-school">
                                                {{epreuve.school}}
                                            </div>
                                        </div>
                                        <a class="download" href="../assets/epreuves/{{epreuve.nomPysique}}.pdf" download>
                                            <img src="../assets/images/direct-download.svg" alt="" width="20px">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <h4>Semestre 2</h4>
                            <div class="grid-container">
                                <div *ngFor="let epreuve of epreuves;" [class.none]="!showEpreuve(epreuve, 2, 'cc')" ngModel>
                                    <div class="epreuve-item" title="{{epreuve.name}}" *ngIf="showEpreuve(epreuve, 2, 'cc')" ngModel>
                                        <img class="epreuve-icone" src="../assets/images/pdf.svg" alt="" width="50px">
                                        <div class="second-child">
                                            <div class="epreuve-title">{{epreuve.name}}</div>
                                            <div class="epreuve-name-school">
                                                {{epreuve.school}}
                                            </div>
                                        </div>
                                        <a class="download" href="../assets/epreuves/{{epreuve.nomPysique}}.pdf" download>
                                            <img src="../assets/images/direct-download.svg" alt="" width="20px">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Normale">
                        <div class="first-child">
                            <h4>Semestre 1</h4>
                            <div class="grid-container">
                                <div *ngFor="let epreuve of epreuves;" [class.none]="!showEpreuve(epreuve, 1, 'SN')" ngModel>
                                    <div class="epreuve-item" title="{{epreuve.name}}" *ngIf="showEpreuve(epreuve, 1, 'SN')" ngModel>
                                        <img class="epreuve-icone" src="../assets/images/pdf.svg" alt="" width="50px">
                                        <div class="second-child">
                                            <div class="epreuve-title">{{epreuve.name}}</div>
                                            <div class="epreuve-name-school">
                                                {{epreuve.school}}
                                            </div>
                                        </div>
                                        <a class="download" href="../assets/epreuves/{{epreuve.nomPysique}}.pdf" download>
                                            <img src="../assets/images/direct-download.svg" alt="" width="20px">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <h4>Semestre 2</h4>
                            <div class="grid-container">
                                <div *ngFor="let epreuve of epreuves;" [class.none]="!showEpreuve(epreuve, 2, 'SN')" ngModel>
                                    <div class="epreuve-item" title="{{epreuve.name}}" *ngIf="showEpreuve(epreuve, 2, 'SN')" ngModel>
                                        <img class="epreuve-icone" src="../assets/images/pdf.svg" alt="" width="50px">
                                        <div class="second-child">
                                            <div class="epreuve-title">{{epreuve.name}}</div>
                                            <div class="epreuve-name-school">
                                                {{epreuve.school}}
                                            </div>
                                        </div>
                                        <a class="download" href="../assets/epreuves/{{epreuve.nomPysique}}.pdf" download>
                                            <img src="../assets/images/direct-download.svg" alt="" width="20px">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Rattrapage">
                        <div class="first-child">
                            <h4>Semestre 1</h4>
                            <div class="grid-container">
                                <div *ngFor="let epreuve of epreuves;" [class.none]="!showEpreuve(epreuve, 1, 'R')" ngModel>
                                    <div class="epreuve-item" title="{{epreuve.name}}" *ngIf="showEpreuve(epreuve, 1, 'SN')" ngModel>
                                        <img class="epreuve-icone" src="../assets/images/pdf.svg" alt="" width="50px">
                                        <div class="second-child">
                                            <div class="epreuve-title">{{epreuve.name}}</div>
                                            <div class="epreuve-name-school">
                                                {{epreuve.school}}
                                            </div>
                                        </div>
                                        <a class="download" href="../assets/epreuves/{{epreuve.nomPysique}}.pdf" download>
                                            <img src="../assets/images/direct-download.svg" alt="" width="20px">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <h4>Semestre 2</h4>
                            <div class="grid-container">
                                <div *ngFor="let epreuve of epreuves;" [class.none]="!showEpreuve(epreuve, 2, 'R')" ngModel>
                                    <div class="epreuve-item" title="{{epreuve.name}}" *ngIf="showEpreuve(epreuve, 2, 'SN')" ngModel>
                                        <img class="epreuve-icone" src="../assets/images/pdf.svg" alt="" width="50px">
                                        <div class="second-child">
                                            <div class="epreuve-title">{{epreuve.name}}</div>
                                            <div class="epreuve-name-school">
                                                {{epreuve.school}}
                                            </div>
                                        </div>
                                        <a class="download" href="../assets/epreuves/{{epreuve.nomPysique}}.pdf" download>
                                            <img src="../assets/images/direct-download.svg" alt="" width="20px">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Fiche de TD">
                        <div class="first-child">
                            <div class="grid-container">
                                <div *ngFor="let epreuve of epreuves;" [class.none]="!showEpreuve(epreuve, 3, 'TD')" ngModel>
                                    <div class="epreuve-item" title="{{epreuve.name}}" *ngIf="showEpreuve(epreuve, 2, 'cc')" ngModel>
                                        <img class="epreuve-icone" src="../assets/images/pdf.svg" alt="" width="50px">
                                        <div class="second-child">
                                            <div class="epreuve-title">{{epreuve.name}}</div>
                                            <div class="epreuve-name-school">
                                                {{epreuve.school}}
                                            </div>
                                        </div>
                                        <a class="download" href="../assets/epreuves/{{epreuve.nomPysique}}.pdf" download>
                                            <img src="../assets/images/direct-download.svg" alt="" width="20px">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Examen">
                        <div class="grid-container">
                            <div *ngFor="let epreuve of epreuves;" [class.none]="!showEpreuve(epreuve, 4, 'Exam')" ngModel>
                                <div class="epreuve-item" title="{{epreuve.name}}" *ngIf="showEpreuve(epreuve, 4, 'Exam')" ngModel>
                                    <img class="epreuve-icone" src="../assets/images/pdf.svg" alt="" width="50px">
                                    <div class="second-child">
                                        <div class="epreuve-title">{{epreuve.name}}</div>
                                        <div class="epreuve-name-school">
                                            {{epreuve.school}}
                                        </div>
                                    </div>
                                    <a class="download" href="../assets/epreuves/{{epreuve.nomPysique}}.pdf" download>
                                        <img src="../assets/images/direct-download.svg" alt="" width="20px">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>


            </div>
        </div>
    </div>
    <div class="footer">
        Junior TACHOM &copy; 2021 - (+237) 696 942 146
    </div>
</div>
<!-- <script src="../assets/js/custom.js"></script> -->